@import "../config";

// text align
.u-text-center {
    text-align: center;
}

// text transform
.u-text-lowercase {
    text-transform: lowercase;
}

.u-text-uppercase {
    text-transform: uppercase;
}

// text colours
@each $keyColor, $color in $text-config {
    .u-text-#{$keyColor} {
        color: $color;
    }
}
