@import '../config';

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  font-weight: 700;
}

@each $key-size, $size in map-get($heading-config, sizes) {
  .u-#{$key-size}-xs {
    font-size: $size;
  }
}

@each $key-breakpoint, $breakpoint in map-get($spacing-config, breakpoints) {
  @media only screen and (min-width: #{$breakpoint}) {
    @each $key-size, $size in map-get($heading-config, sizes) {
      .u-#{$key-size}-#{$key-breakpoint} {
        font-size: $size;
      }
    }
  }
}
