$alert-config: (
        padding: $alert-padding,
        types: (
                primary: $alert-primary-background,
                secondary: $alert-secondary-background,
                success: $alert-success-background,
                info: $alert-info-background,
                warning: $alert-warning-background,
                danger: $alert-danger-background,
        )
);