$background-config: (
        types: (
                primary: $background-primary,
                secondary: $background-secondary,
                success: $background-success,
                info: $background-info,
                warning: $background-warning,
                danger: $background-danger
        )
);