$text-config: (
        types: (
                primary: $text-primary,
                secondary: $text-secondary,
                success: $text-success,
                info: $text-info,
                warning: $text-warning,
                danger: $text-danger,
                white: $text-white,
        )
);