button {
  cursor: pointer;
}

%btn {
  border-radius: map-get($button-config, border-radius);
  border-style: solid;
  border-width: map-get($button-config, border-width);
  display: inline-block;
  font-family: map-get($button-config, font-family);
  font-size: map-get($button-config, font-size);
  min-width: map-get($button-config, min-width);
  padding: 10px;
  text-align: center;
}

.c-btn--full {
  width: 100%;
}

@each $key-type, $type in map-get($button-config, types) {
  .c-btn-#{$key-type} {
    @extend %btn;
    background-color: nth($type, 1);
    border-color: nth($type, 3);
    color: nth($type, 2);

    &:hover {
      background-color: darken(nth($type, 1), 10%);
    }
  }
}
