button {
    cursor: pointer;
    font-family: map_get($button-config, font-family);
}

%btn {
    border: none;
    display: inline-block;
    font-weight: 600;
    min-width: 200px;
    padding: 10px;
    text-align: center;
    text-transform: uppercase;
}

.c-btn--full {
    width: 100%;
}

@each $keyType, $type in map_get($button-config, types) {
    .c-btn-#{$keyType} {
        @extend %btn;
        background-color: nth($type, 1);
        color: nth($type, 2);
    }
}