* {
    box-sizing: border-box;
}

body {
    color: map-get($body-config, color);
    font-family: map-get($body-config, font-family);
    font-size: map-get($body-config, font-size);
    font-weight: map-get($body-config, font-weight);
    margin: 0;
}

a {
    color: #2D3E50;
    text-decoration: none;
}
