* {
  box-sizing: border-box;
}

body {
  color: $body-color;
  font-family: $body-font-family;
  font-size: $body-font-size;
  font-weight: $body-font-weight;
  margin: 0;
}

a {
  color: $body-link-color;
  text-decoration: none;
}
